<div class="card" data-post-id="{{post.id}}">
    
    <div class="card-header">
        <input type="text" class="w-100" id="post-title" value="{{post.title}}" />
    </div>
    <div class="card-body">
        <textarea class="w-100" id="post-body">{{post.body}}</textarea>
    </div>
    <div class="display-flex justify-center">
        <button class="btn btn-primary m-1"  id="edit-post">Edit Post</button>
    </div>
</div>

<script src="../js/editPost.js"></script>