<div class="card p-3">
    <div class="card-body">
        <input class="mb-3 w-100" id="post-title" type="text" placeholder="Post Title"></input>
        <br/>
        <textarea class="w-100" id="post-body" placeholder="Post Body"></textarea>
    </div>
    <div class="card-footer display-flex justify-center">
        <button class="btn btn-primary" id="create-post">Create</button>
    </div>
</div>
<script src="./js/createPost.js"></script>